$white: white;
$globalFooterGray: dimgray;
$globalFooterGray: dimgray; 
$globalFooterGray: dimgray;
 // テキスト無彩色
$text-black-1: #222222;
$text-bkack-2: #333333;
 //背景色
$circle-bg-1:#1f3748;
$box-child-1: #f0f0f0;
$body-bg-1:#eeeeee;
 //アクセントカラー
$text-accent-1: #a35747;
$text-accent-2: #4f6996;
$text-accent-3: #347299;
 //ボーダーカラー
$border-1: #e1e1e1;
$box-shadow: #cccccc; 