.row.adjustlink
  .columns.large-6.small-12.text-left
    = link_to taiketsu_path(@prev) do
      .fa.fa-arrow-circle-left
      前の投稿へ

  .columns.large-6.small-12.text-right
    = link_to taiketsu_path(@next) do
      .fa.fa-arrow-circle-right
      次の投稿へ
