.row.adjustlink
  .columns.large-6.small-12.text-left
    - if @prev != 0
      = link_to taiketsu_path(@prev) do
        .fa.fa-arrow-circle-left
        より人気のお題へ 
  .columns.large-6.small-12.text-right
    - if @next != 0
      = link_to taiketsu_path(@next) do
        .fa.fa-arrow-circle-right
        より不人気なお題へ