.row.top_article
  .columns.large-12.text-center.top_article
    .panel
      .row
        .columns.large-5
          .top_article_cast
            = @taiketsu.topics.first.topic
        .columns.top_article_vs_wrap
          .top_article_vs
            vs
        .columns.large-5.large-offset-2
          .top_article_cast
            = @taiketsu.topics.second.topic
      .row.social
        .column.large-8.text-left
        .column.large-4.text-right
          -if @session == @taiketsu.session_id
            = link_to taiketsu_path(@taiketsu.id), method: :delete, class: "delete_link" do
              = fa_icon "trash", class: "trash_icon", title: "このtaiketsuを削除する"
