.header {
    height: 100px;
    width: 100%;
    background: url(tyuusyou.jpeg);
    background-size: cover;
    &__top {
        padding: 80px 0 100px;
        &--name {
            width: 100%;
            box-sizing: border-box;
            text-align: center;
            .toppage {
                height:75px;
                width:320px;
                margin: 0 auto;
                background-image: url(taiketsu.jpg);
                background-repeat: no-repeat;
                color: $white;
                display: block;
                text-decoration: none;
                text-indent: -500em;
            }
        }
    }
}