html {
  height: 100%;
  font-size: 14px;
  body {
    height: 100%;
    word-break: break-all;
    font-size: 14px;
    background: $body-bg-1;
    color: $text-black-1;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1.5;
    position: relative;
    cursor: auto;
  }
  main {
    padding: 20px 0;
    h3 {
      font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, osaka, 'ＭＳ Ｐゴシック', Arial, sans-serif;
      font-weight: bold;
      font-weight: normal;
      font-size: 1.5rem;
      color: inherit;
      margin-bottom: 1.5rem;
    }
    span {
      font-weight: bold;
      font-size: 1.5rem;
      margin-right: 10px;
    }
    .first{
      color: #B22222;
    }
    .second{
      color: #0067ce;
    }
    .top_article_vs_wrap {
      position: absolute;
      right: 0;
      top: 0;
      left: 0;
      bottom: 0;
      margin-top: 20px;
      .top_article_vs {
        width: 3rem;
        height: 3rem;
        border-radius: 100%;
        line-height: 3rem;
        font-size: 1.2rem;
        transition: 0.4s;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        background: $circle-bg-1;
        color: white;
        margin: 10px auto;
      }
    }
    .social {
      padding-top: 10px;
      margin-top: 30px;
      border-top: 1px solid $border-1;
    }
    #craem {
      margin-top: 40px;
    }
  }
  .top_article {
    margin-bottom: 10px;
    .panel {
      transition: 0.4s;
    }
    .panel>.row .top_article_cast {
      font-size: 2rem;
    }
  }
  .panel>.row .top_article_cast {
    font-size: 2rem;
  }
  .text-left {
    text-align: left !important;
  }
  .text-center {
    text-align: center !important;
  }
  .text-right {
    text-align: right !important;
  }
  .top_article .panel>.row {
    padding-top: 20px;
    .top_article_cast {
      font-size: 2rem;
    }
  }
  .row:before,
  .row:after {
    content: " ";
    display: table;
  }
  .panel>:last-child {
    margin-bottom: 0;
  }
  .row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 60rem;
  }
  .row:after {
    clear: both;
  }
  .large-offset-2 {
    margin-left: 16.66667% !important;
  }
  .large-5 {
    width: 41.66667%;
  }
  .large-6 {
    width: 50%;
  }
  .large-12 {
    width: 100%;
  }
  small {
    font-size: 60%;
    line-height: inherit;
  }
  .columns {
    position: relative;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    float: left;
  }
  .panel>:first-child {
    margin-top: 0;
  }
  .panel {
    border: none;
    box-shadow: 0 3px 5px $box-shadow;
    margin-bottom: 1.25rem;
    padding: 0.875rem;
    background: white;
    color: $text-bkack-2;
    .comment_block:nth-child(even) {
      background: $box-child-1;
    }
    .comment_block {
      margin: 0 -0.875rem -1px;
      padding: 10px 20px;
      background: white;
    }
  }
  .single_comments {
    h3 {
      font-size: 1rem;
      line-height: 1.5;
      margin-bottom: 1rem;
    }
    .comment_primary {
      h3 span {
        color: $text-accent-1;
      }
    }
    .comment_secondary {
      h3 {
        span {
          color: $text-accent-2;
        }
      }
    }
  }
  [class*="column"]+[class*="column"]:last-child {
    float: right;
  }
  [class*="column"]+[class*="column"].end {
    float: left;
  }
  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .adjustlink {
    margin-bottom: 10px;
    a{
      text-decoration:none;
      color: $text-accent-3;
    }
  }
}

p {
  font-family: inherit;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.25rem;
  text-rendering: optimizeLegibility;
}
.text-left {
  text-align: left !important;
}

.adjustlink i {
  margin: 0 10px;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
