.global-footer
    %ul.global-footer__contents
        %li.list
            = link_to "トップページ", root_path, class: "link"
        %li.list
            = link_to "タイケツの楽しみ方", abouts_path, class: "link"
        %li.list
            = link_to "利用規約・免責", root_path, class: "link"
        %li.list
            = link_to "お問い合わせ", root_path, class: "link"
    .global-footer__right
        ©️TAIKETSU
