.footer {
    width: 100%;
    height: 300px;
    background: url(tyuusyou.jpeg);
    background-size: cover;
    text-align: center;
    clear: both;
    &__title {
        font-size: 20px;
        color: $white;
        clear: both;
        padding: 25px 0 40px 0;
    }
    &__sentence {
        color: $white;
        font-size: 15px;
    }
    &__form {
        height: 30px;
        width: 900px;
        margin: 0 auto;
        padding-top: 20px;
        &--input {
            display: flex;
            &__text {
                width: 500px;
                height: 100%;
                .form {
                    height: 30px;
                    width: 350px;
                    background: none;
                }
            }
            &__VS {
                color: $white;
                width: 30px;
                margin: 0 auto;
                font-size: 13px;
                text-align: center;
                line-height: 36px;
                height: 30px;
            }
            &__right {
                width: 500px;
                height: 100%;
                .form {
                    height: 30px;
                    width: 350px;
                    background: none;
                }
            }
        }
        &--btn {
            padding-top: 50px;
            width: 200px;
            margin: 0 auto;
            .btn {
                width: 200px;
                font-size: 14px;
                font-weight: bold;
                text-decoration: none;
                display: block;
                text-align: center;
                padding: 5px 0;
                color: $white;
                background-color: #81b3ab;
                border-radius: 25px;
                transition: background-color .4s ease;
            }
            .btn:hover {
                background-color: #339999;
                -ms-transform: translateY(5px);
                -webkit-transform: translateY(5px);
                transform: translateY(5px);
                border-bottom: none;
                box-shadow: none;
            }
        }
        &--sentence {
            color: $white;
            font-size: 12px;
            padding-top: 20px;
            margin: 0 auto;
        }
    }
}
