main{
  .show-main__bgc{
    .left-bg{
      float: left;
      width: 50%;
      height: 100vh;
      position: fixed;
      z-index: -3;
      width: 50%;
      background-color: #a35747;
    }
    .right-bg{
      float: right;
      right:0;
      width:50%;
      height: 100vh;
      position: fixed;
      z-index: -3;
      width: 50%;
      background-color: #4f6996;
    }
  }

}
