.about-header
    .about-header__name
        = link_to "タイケツ", root_path, class: "toppage"
.mains
    .main
        .main__top
            %h1.main__top--headline
                タイケツの楽しみ方
            .main__top--image
                %img(src="./images/keyvisual.jpg" alt="タイケツ")
            %h2.main__top--title
                分かり合えない二人、本音をぶつけ合ってみませんか？
            .main__top--sentence
                %p
                    営業とエンジニア、デザイナーとコーダー、大阪と東京など、いつも憎しみ合い、分かり合えない関係がこの世界には存在します。
                    %br/
                    もしかしたらあなたもそんな関係に悩まされている中のひとりかもしれませんね。
                %p
                    %strong タイケツ
                    はそんな2つのことがらについて、それぞれの立場から主張を投稿できるサービスです。
                    %br/
                    会員登録やソーシャルアカウントを使う必要はありません。誰にも知られることなく、本音を語ってください。
                %p
                    本音をぶつけ合い、お互いを理解し合い、二人が少しでも分かりあえますように…。
        .main__bottom
            %h2.main__bottom--title
                タイケツの使い方
            %h3.main__bottom--what
                お題を探して主張をぶつける
            .main__bottom--image
                %img(src="./images/img.jpg" alt="そば")
                .main__bottom--image__sentence
                    %p
                        用意されたお題にはそれぞれの立場から主張を投稿することができます。
                        %br/
                        自分がいかに優れているか、また、相手がいかに劣っているか、遠慮なく主張してください。
                        %br/
                        本音を聞いてみると、自分の悪いところ、相手のいいところが見えてくるかもしれません。
            %h3.main__bottom--post
                お題を投稿する
            .main__bottom--image
                %img(src="./images/img2.jpg" alt="画像2")/
            .main__bottom--sentence-post
                %p
                    私の大好きな○○が□□より人気がないなんてありえない、理解できない、そんな悩みをお持ちなら、一息入れてみんなの意見も聞いてみませんか？
                %p
                    2つの関係をお題として投稿し、みんなからの意見を待ってみましょう。
            %h3.main__bottom--delete
                主張・お題を削除する
            .main__bottom--image
                %img(src="./images/img3.jpg" alt="画像3")/
                .main__bottom--image__sentence
                    %p
                        ちょっと言い過ぎたかな…と思ったら削除ボタンをクリックすることで主張、お題を削除することができます。
                    %p
                        ブラウザを閉じるとセッション情報がなくなるため削除機能が使えなくなります。
                        %br/
                        のちほど投稿内容を削除したい場合は管理者までお問い合わせください。
.footer
    = render "shared/footer"
.global-footer
    = render "shared/global-footer"
