@import "./reset";
@import "bootstrap";
@import "font-awesome";
@import "./config/colors";
@import "./modules/header";
@import "./modules/main";
@import "./modules/footer";
@import "./taiketsu";
@import "./modules/global-footer";
@import "./paginates";
@import "./modules/abouts";