.columns.large-6.comment_primary
  .panel
    .row
      .columns.large-12
        %h3
          %span
            トヨタ好き
          からのご意見
        
    .comment_block
      .row
        .columns.large-12
          %p
            常に新しいことに挑戦し続け結果を出している優良なメーカーだと思います。
            %br
              実際に販売台数がそれを物語っている。
            ダサいなら売れるわけが無い。売れているということはそれだけそのデザインが受け入れられている証だ。
      .row
        .colums.large-12

    .comment_block
      .row
        .columns.large-12
          %p
            常に新しいことに挑戦し続け結果を出している優良なメーカーだと思います。
            %br
              実際に販売台数がそれを物語っている。
            ダサいなら売れるわけが無い。売れているということはそれだけそのデザインが受け入れられている証だ。
      .row
        .colums.large-12