%html
  %body
    %main
      = render 'detailpage/adjustlink'
      = render 'detailpage/top_article'
      .row.single_comments
        = render 'detailpage/comment_primary'
        = render 'detailpage/comment_secondary'
      .row
        .columns.large-12.text-center
          .small
            投稿できるご意見は200文字以内です。
      -# = render 'shared/lokking-opinion'
